
html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    padding: 0px;
    margin: 0px;
    width: 100%;
    height: 100%;
}


app {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.buzzerPageBackground {
    background-color: #EEEEEE;
    width: 100%;
    height: 100%;
    padding: 10px;

}

.connectedPageContainer {
    display: grid;
    grid-template: ". ." / auto;
}

@media screen and (max-width: 1000px) {
    .connectedPageContainer {
        grid-template: "." "." / auto;
    }
}


.chatMessage {
    display: grid;
    grid-template-columns: 1fr 75px;
}

    .chatMessage>div:first-child {
        word-break: break-all;
    }

.messageBox {
    max-width: 600px;
    background-color: #F7F7F7;
    border: 1px solid #CCCCCC;
}

.messagesBox {
    height: 500px;
    overflow: auto;
    display: flex;
    flex-direction: column-reverse;
}

.messageBox>div:first-child {
    padding:5px;
}

.messageBox>div:nth-child(2) {
    border-top:solid 1px #CCCCCC;
    padding:5px;
}

.connectedUsers {
    display: flex;
    flex-direction: row;
}

.buzzerContainer {
    max-width: 600px;
    text-align:center;
}